.tosearch {
  border-radius: 0%;
  border       : 0%;
  width        : 97.7%;
  background   : none;
  padding      : 1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.amountdiv {
  text-align: center;
}

.amountdivtable {
  position: absolute;
  bottom  : 1vw;
  width   : 100%;
}

.amounttext {
  width         : 100%;
  padding-left  : 1%;
  padding-right : 1%;
  padding-top   : 2%;
  padding-bottom: 2%;
  font-size     : x-large;
}

.amountbtn {
  width         : 100%;
  padding-left  : 1%;
  padding-right : 1%;
  padding-top   : 5%;
  padding-bottom: 5%;
  font-size     : x-large;
}

a {
  text-decoration: none;
  color          : black;
  padding-left   : 2%;
  padding-right  : 2%;
  padding-top    : 1%;
  padding-bottom : 1%;
}

a:hover {
  color           : white;
  background-color: black;
  
}